# Ignore everything
*

# Unignore directories
!*/

# Unignore files with [ch] extensions
!*.[ChH]
!*.cpp
!*.hpp
!*.CPP
!*.vs
!*.fs

# Vim sessions
!vim.sess

# Unignore text files
!*.txt
!*.rar

# Unignore Makefiles
!Makefile
